data/raw/*
results/
benchmark/*
!benchmark/call_consensus-stats
benchmark/call_consensus-stats/*
!benchmark/call_consensus-stats/combined.stats.tsv
work/
.nextflow*
scratch/
*gisaid*.fasta
!data/test/ncov-example-data-sequences.fasta
.DS_Store
.Rproj.user
