params {
  outdir = 'results'
  help = false

  single_end = false
  skip_trim_adapters = false
  readPaths = false

  samQualThreshold = 20

// iVar defaults
  ivarQualThreshold = 20
  ivarFreqThreshold = 0
  ivarMinDepth = 10
  mpileupDepth = 0

// QUAST
  maxNs = 100
  minLength = 29000
  no_reads_quast = false

// Output documentation
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

}

process {
  container = 'czbiohub/sc2-msspe'
}

// Profiles
profiles {
  awsbatch { includeConfig 'conf/aws.config' }
  conda { process.conda = "$baseDir/environment.yaml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }
  test_fasta_reads { includeConfig 'conf/test_fasta_reads.config' }
}
