params {
  outdir = 'results'
  help = false

  single_end = false
  skip_trim_adapters = false
  readPaths = false
  qpcr_primers = "data/qpcr_primers.bed"

  samQualThreshold = 20

  minDepth = 10

  clades = "data/clades.tsv"

  // assumes about 20 mutations between 2 random samples
  // (this is an overestimate to increase sensitivity)
  bcftoolsCallTheta = 0.0006

  exclude_samples = ""

// iVar defaults
  ivarQualThreshold = 20
  ivarFreqThreshold = 0.6
  mpileupDepth = 0

// QUAST
  maxNs = 100
  minLength = 29000
  no_reads_quast = false

  kraken2_db = ""

// Sourmash
  ksize = 81
  scaled = 1000
  
// Nextstrain data
  skip_nextstrain = false
  ref_gb = false
  gisaid_sequences = ""
  nextstrain_ncov = "https://raw.githubusercontent.com/nextstrain/ncov/master/"

// Output documentation
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

}

process {
// TODO: remove dev tag
  container = 'czbiohub/sc2-msspe:dev'
  withLabel:'nextstrain' {
    container = 'nextstrain/base:latest'
  }
}

// Profiles
profiles {
  awsbatch { includeConfig 'conf/aws.config' }
  conda { process.conda = "$baseDir/environment.yaml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }
  test_nextstrain { includeConfig 'conf/test_nextstrain.config' }
  test_fasta_reads { includeConfig 'conf/test_fasta_reads.config' }
  fasta_reads { includeConfig 'conf/fasta_reads.config' }
}
