aws.region = 'us-west-2'
process.executor = 'awsbatch'
process.queue = 'covid-default-4ec31960-8b43-11ea-91fd-020934000518'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

weblog {
  enabled = true
  url = 'https://8o2jh1ss9d.execute-api.us-west-2.amazonaws.com/default/consensus_calling_endpoint_dev'
}
