// Config file to load MSSPE primers

params {
	primers = "https://raw.githubusercontent.com/czbiohub/sc2-illumina-pipeline/master/data/SARS-COV-2_spikePrimers.bed"
        prefilter_host_reads = true
        save_sars2_filtered_reads = false
        ercc_fasta = "https://raw.githubusercontent.com/czbiohub/sc2-illumina-pipeline/master/data/ercc_sequences.fasta"
}