// Test config for run_analysis.nf without augur steps

includeConfig 'test.config'
params {

  nextstrain_ncov = false

  outdir = 'results/test_analysis'

  sample_sequences = "$baseDir/data/test/nextstrain_sample*.fa"
  nextstrain_sequences = "$baseDir/data/test/example-sequences.fasta"
  nextstrain_metadata = "$baseDir/data/test/example-metadata.tsv"
  blast_sequences = "$baseDir/data/test/example-sequences.fasta"
  public_identifiers = "$baseDir/data/test/test_public_identifiers.tsv"

}

