/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/msspe -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // TODO: generate & use publicly-accessible, IRB-compliant test samples
  reads = 's3://jackkamm/covidseq/fastqs/comet001-test-subsampled/*_subsampled_R{1,2}_001.fastq.gz'

  // originally from https://genexa.ch/sars2-bioinformatics-resources/
  // TODO: make publically accessible
  kraken2_db = 's3://jackkamm/covidseq/kraken2_h+v_20200319/'

  ref = 'https://raw.githubusercontent.com/czbiohub/sc2-msspe-bioinfo/master/data/MN908947.3.fa'
  ref_gb = 'https://raw.githubusercontent.com/czbiohub/sc2-msspe-bioinfo/master/data/MN908947.3.gb'
  primers = 'https://raw.githubusercontent.com/czbiohub/sc2-msspe-bioinfo/master/data/SARS-COV-2_spikePrimers.bed'
}
