// Test config for run_analysis.nf
// Takes about 10 minutes to run

includeConfig 'test.config'
params {

  outdir = 'results/test_nextstrain'

  sample_sequences = "$baseDir/data/test/nextstrain_sample*.fa"
  nextstrain_sequences = "$baseDir/data/test/example-sequences.fasta"
  nextstrain_metadata = "$baseDir/data/test/example-metadata.tsv"
  blast_sequences = "$baseDir/data/test/example-sequences.fasta"

}

