
includeConfig 'awsbatch.config'

params {
  outdir = 's3://czb-covid-results/test/test_awsbatch'

  // TODO: generate & use publicly-accessible, IRB-compliant test samples
  reads = 's3://jackkamm/covidseq/fastqs/test/*_R{1,2}_001.fastq.gz'

  // originally from https://genexa.ch/sars2-bioinformatics-resources/
  // TODO: make publically accessible
  kraken2_db = 's3://jackkamm/covidseq/kraken2_h+v_20200319/'
}