// Test config for run_analysis.nf
// Takes about 10 minutes to run

includeConfig 'test.config'
params {

  sample_sequences = "$baseDir/data/test/nextstrain_sample*.fa"
  nextstrain_sequences = 'https://raw.githubusercontent.com/nextstrain/ncov/master/example_data/sequences.fasta'
  blast_sequences = 'https://raw.githubusercontent.com/nextstrain/ncov/master/example_data/sequences.fasta'
  group_by = 'region'
  sequences_per_group_1 = 3
  sequences_per_group_2 = 2
  outdir = 'results/test/run_analysis'
}

